<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>
      <a class="sidebar-nav-item{% if page.title == 'Page2' %} active{% endif %}" href="{{ '/page2' | absolute_url }}">Page 2</a>
      <a class="sidebar-nav-item{% if page.title == 'Page3' %} active{% endif %}" href="{{ '/' | absolute_url }}">Page 3</a>
    </nav>
  </div>
</div>
